{% extends 'base.html.twig' %}

{% block title %}
	{{ 'update_password'|trans }}
{% endblock %}

{% block body %}
	<div class="main-content main-content-login">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-trail breadcrumbs">
						<ul class="trail-items breadcrumb">
							<li class="trail-item trail-begin">
								<a href="{{ path('app_homepage') }}">{{ 'home'|trans }}</a>
							</li>
							<li class="trail-item trail-end active">
								{{ 'register'|trans }}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="site-main">
						<h3 class="custom_blog_title">{{ 'update_password'|trans }}</h3>
						<div class="customer_login">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="login-item">
										<h5 class="title-login">{{ 'space_update_password'|trans }}</h5>
										{% form_theme formUpdatePassword 'form/form_errors.html.twig' %}
										{{ form_start(formUpdatePassword, {'attr': {'data-turbo': 'false', 'class': 'register'}}) }}
										{{ form_row(formUpdatePassword.actualPassword) }}
										{{ form_row(formUpdatePassword.plainPassword) }}
										{{ form_row(formUpdatePassword.submit) }}
										{{ form_end(formUpdatePassword) }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
